@charset "UTF-8";
html {
  font: 12px/1.5 Tahoma , '\5FAE\8F6F\96C5\9ED1',"Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", STHeiti, "Microsoft YaHei" ,sans-serif;
}
body {
    font-size: 12px;
    background-color: #fff;
}
body,h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
}
ul,ol {
    padding: 0;
}
li {
    list-style: none;
}
input,text,textarea {
    outline: none;
}
img {
    border: none 0;
    vertical-align: top;
}
a {
    text-decoration: none!important;
    color: #000;
}
a:hover {
    text-decoration: none;
}
a:active {
    color: #ccc;
}
